<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t3rik.mes.pro.mapper.ProClientOrderItemMapper">
    <sql id="Base_Column_List">
        order_item_id,
        client_order_id,
        item_id,
        quantity,
        `level`,
        remark,
        attr1,
        attr2,
        attr3,
        attr4,
        create_by,
        create_time,
        update_by,
        update_time,
        create_user_id,
        update_user_id
    </sql>
    <resultMap type="com.t3rik.mes.pro.domain.ProClientOrderItem" id="BaseResultMap">
        <!--@Table pro_client_order_item-->
        <result property="orderItemId" column="order_item_id"/>
        <result property="clientOrderId" column="client_order_id"/>
        <result property="itemId" column="item_id"/>
        <result property="quantity" column="quantity"/>
        <result property="level" column="level"/>
        <result property="remark" column="remark"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>

    <sql id="selectProClientOrderItemVo">
        select order_item_id,
               client_order_id,
               item_id,
               quantity,
               level,
               remark,
               attr1,
               attr2,
               attr3,
               attr4,
               create_by,
               create_time,
               update_by,
               update_time,
               create_user_id,
               update_user_id
        from pro_client_order_item
    </sql>

<!--auto generated by MybatisCodeHelper on 2024-05-14-->
    <select id="selectLevelByClientOrderId" resultType="java.lang.Integer">
        select  IFNULL(max(`level`),0)  as maxLevel
        from pro_client_order_item
        where client_order_id=#{clientOrderId}
    </select>

    <select id="getClientOrderItemPage" resultType="com.t3rik.mes.pro.dto.ClientOrderItemPageDTO">
        SELECT t.order_item_id,
               t.client_order_id,
               t.item_id,
               t.item_code,
               t.item_name,
               t.specification,
               t.unit_of_measure,
               t.quantity,
               wms.warehouse_name,
               wms.warehouse_code,
               IF(wms.quantity_onhand is not null, wms.quantity_onhand, 0) as quantityOnhand,
               t.LEVEL,
               t.remark,
               t.attr1,
               t.attr2,
               t.attr3,
               t.attr4,
               t.create_by,
               t.create_time,
               t.update_by,
               t.update_time,
               t.create_user_id,
               t.update_user_id
        FROM pro_client_order_item t
                 left join wm_material_stock wms on t.item_id = wms.item_id and wms.warehouse_code in
        <foreach item="code" collection="whCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
        <where>
            and client_order_id = #{clientOrderId}
        </where>
    </select>
</mapper>