<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t3rik.hrm.st.mapper.HrmStaffMapper">

    <resultMap type="com.t3rik.hrm.st.domain.HrmStaff" id="BaseResultMap">
        <!--@Table hrm_staff-->
        <result property="staffId"    column="staff_id"    />
        <result property="staffCode"    column="staff_code"    />
        <result property="staffName"    column="staff_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="sex"    column="sex"    />
        <result property="ethnicity"    column="ethnicity"    />
        <result property="birthDate"    column="birth_date"    />
        <result property="email"    column="email"    />
        <result property="maritalStatus"    column="marital_status"    />
        <result property="politicalOutlook"    column="political_outlook"    />
        <result property="idCard"    column="id_card"    />
        <result property="origin"    column="origin"    />
        <result property="householdAddress"    column="household_address"    />
        <result property="emergencyContact"    column="emergency_contact"    />
        <result property="relationship"    column="relationship"    />
        <result property="emergencyContactPhone"    column="emergency_contact_phone"    />
        <result property="education"    column="education"    />
        <result property="joinedTime"    column="joined_time"    />
        <result property="leaveTime"    column="leave_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateUserId"    column="update_user_id"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="currentAddress"    column="current_address"    />
        <result property="remark"    column="remark"    />
        <result property="deleted"    column="deleted"    />
        <result property="deleteAt"    column="deleteAt"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectHrmStaffVo">
        select staff_id, staff_code, staff_name, contact_phone, sex, ethnicity, birth_date, email, marital_status, political_outlook, id_card, origin, household_address,emergency_contact, relationship, emergency_contact_phone, education, joined_time, leave_time, create_user_id, create_by, update_user_id, update_by, create_time, update_time, status, current_address, remark, deleted, deleteAt, version from hrm_staff
    </sql>


</mapper>
