<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t3rik.mes.wm.mapper.WmWasteHeaderMapper">
    <!--@mbg.generated-->
    <!--@Table wm_waste_header-->
    <sql id="Base_Column_List">
        waste_id,
        waste_code,
        waste_name,
        workorder_id,
        workorder_code,
        warehouse_id,
        warehouse_code,
        warehouse_name,
        location_id,
        location_code,
        location_name,
        area_id,
        area_code,
        area_name,
        waste_date,
        `status`,
        remark,
        attr1,
        attr2,
        attr3,
        attr4,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>
    <resultMap type="com.t3rik.mes.wm.domain.WmWasteHeader" id="BaseResultMap">
        <!--@Table wm_waste_header-->
        <result property="wasteId" column="waste_id"/>
        <result property="wasteCode" column="waste_code"/>
        <result property="wasteName" column="waste_name"/>
        <result property="workorderId" column="workorder_id"/>
        <result property="workorderCode" column="workorder_code"/>
        <result property="warehouseId" column="warehouse_id"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="warehouseName" column="warehouse_name"/>
        <result property="locationId" column="location_id"/>
        <result property="locationCode" column="location_code"/>
        <result property="locationName" column="location_name"/>
        <result property="areaId" column="area_id"/>
        <result property="areaCode" column="area_code"/>
        <result property="areaName" column="area_name"/>
        <result property="wasteDate" column="waste_date"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="attr1" column="attr1"/>
        <result property="attr2" column="attr2"/>
        <result property="attr3" column="attr3"/>
        <result property="attr4" column="attr4"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectWmWasteHeaderVo">
        select waste_id,
               waste_code,
               waste_name,
               workorder_id,
               workorder_code,
               warehouse_id,
               warehouse_code,
               warehouse_name,
               location_id,
               location_code,
               location_name,
               area_id,
               area_code,
               area_name,
               waste_date,
               status,
               remark,
               attr1,
               attr2,
               attr3,
               attr4,
               create_by,
               create_time,
               update_by,
               update_time
        from wm_waste_header
    </sql>

    <!--auto generated by MybatisCodeHelper on 2024-05-11-->
    <delete id="delWmWasteHeaderIds">
        delete
        from wm_waste_header
        where waste_id in
        <foreach item="item" index="index" collection="wasteIds"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getTxBeans" resultType="com.t3rik.mes.wm.domain.tx.WmWasteTxBean">
        SELECT wml.material_stock_id,
               wml.`item_id`,
               wml.`item_code`,
               wml.`item_name`,
               wml.`specification`,
               wml.`unit_of_measure`,
               wml.`batch_code`,
               wml.`warehouse_id`,
               wml.`warehouse_code`,
               wml.`warehouse_name`,
               wml.`location_id`,
               wml.`location_code`,
               wml.`location_name`,
               wml.`area_id`,
               wml.`area_code`,
               wml.`area_name`,
               ms.vendor_id       AS vendorId,
               ms.vendor_code     AS vendorCode,
               ms.vendor_name     AS vendorName,
               ms.vendor_nick     AS vendorNick,
               'WMWASTE'          AS source_doc_type,
               wmh.`waste_id`     AS source_doc_id,
               wmh.`waste_code`   AS source_doc_code,
               wml.`line_id`      AS source_doc_line_id,
               wml.quantity_waste AS transaction_quantity,
               wmh.waste_date     AS recptDate
        FROM wm_waste_header wmh
                 LEFT JOIN wm_waste_line wml ON wmh.waste_id = wml.waste_id
                 LEFT JOIN wm_material_stock ms ON wml.material_stock_id = ms.material_stock_id
        where wmh.waste_id = #{wasteId}
    </select>

    <select id="getWasteIssueDetail" resultType="com.t3rik.mes.wm.dto.WasteHeaderAndLineDTO">
        SELECT wih.issue_id,
               wih.issue_code,
               wih.issue_date,
               wih.issue_name,
               wih.workorder_code,
               wih.workorder_id,
               wih.task_id,
               wil.line_id,
               wil.unit_of_measure,
               wil.location_id,
               wil.location_code,
               wil.location_name,
               wil.warehouse_id,
               wil.warehouse_code,
               wil.warehouse_name,
               wil.area_id,
               wil.area_code,
               wil.area_name,
               wil.item_id,
               wil.item_name,
               wil.item_code,
               wil.quantity_issued,
               wil.material_stock_id,
               COUNT(wwl.line_id)                 AS wasteIssueCount,
               IFNULL(sum(wwl.quantity_waste), 0) AS wasteIssueQty
        FROM wm_issue_line wil
                 LEFT JOIN wm_issue_header wih ON wih.issue_id = wil.issue_id
                 LEFT JOIN wm_waste_line wwl ON wil.line_id = wwl.issue_line_id
            ${ew.customSqlSegment}
        GROUP BY
            wil.line_id
        ORDER BY
            wih.issue_date
        DESC
    </select>

    <select id="getWasteIssueDetailList" resultType="com.t3rik.mes.wm.dto.WasteHeaderAndLineDTO">
        SELECT wwh.waste_id,
               wwh.waste_code,
               wwh.waste_name,
               wwh.waste_date,
               wwl.*
        FROM wm_waste_header wwh
                 LEFT JOIN wm_waste_line wwl ON
            wwh.waste_id = wwl.waste_id
            ${ew.customSqlSegment}
        ORDER BY wwl.item_name,
            wwh.waste_date
    </select>
</mapper>
